name: Testing GitHub Workflows

on: 
  push:
    branches:
      - LAB

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Etape 1-Initialisation
        run: echo "'✅ Initialisation'"

      - name: Etape 2-Récupération du code
        run: echo "'✅Récupération du code'"

      - name: Etape 3-Build
        run: echo "'✅Build'"

      - name: Etape 4-Tests
        run: echo "'✅ Build terminé avec succès'"

      - name: Etape 5-Packaging
        run: echo "'✅Tests en cours"

      - name: Etape 6-Fin du pipeline
        run: echo "'✅Pipeline terminé'"
        
     
